* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial;
}

header {
    background-color: #D92950;
    text-align: center;
    padding: 24px;
}

nav > a {
    margin: 40px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    width: 500px;
    margin: 34px auto;
}

img {
    width: 100%;
}

h1 {
    font-size: 30px;
    margin-top: 20px;
}

p {
    margin-top: 20px;
}

p > a {
    color : #D92950;
}